<div class="row">
<div class="col-md-6 col-md-offset-3">

<%= form_for(@listing) do |f| %>
<%= f.label :name %>
<%= f.text_field :name, class: 'form-control', maxlength: '30' %>

<%= f.label :bedroom %>
<%= f.text_field :bedroom, class: 'form-control' %>

<%= f.label :accomodates %>
<%= f.text_field :accomodates, class: 'form-control' %>

<%= f.label :location %>
<%= f.text_field :location, class: 'form-control' %>

<%= f.label :price_per_night %>
<%= f.text_field :price_per_night, class: 'form-control' %>



<%= f.label :tags %>
<%= f.fields_for :tag do |x| %>
  <%= x.text_field :name, class: 'form-control' %>
<% end %>

<br>
<%= f.file_field :images, multiple: true %>

<br>

<%= f.submit "Create listing", class: "btn btn-primary" %>

<% end %>

</div>
</div>


