<nav class="nav-white">
	<div class="nav-logo nav-logo-border nav-hover">
		<a href="<%= root_path %>"><%= image_tag("waterbnb_logo.png", size: "168x32", alt: "Waterbnb") %></a>
	</div>
	<div class="nav-search">
		<%= form_tag '/search', method: :post do %>
	      <%= text_field_tag :query, params[:query], placeholder: 'Where are you going?' %>
	  <% end %>
	</div>
	<div class="nav">
		<% if signed_in? %>
		  <div class="nav-hover"><a href="/users/<%= current_user.id %>"><%= image_tag current_user.avatar, class: 'avatar avatar' %></a></div>
		  <div class="nav-hover"><%= link_to 'Sign out', sign_out_path, method: :delete %></div>
		<% else %>
		  <%= link_to sign_in_path do %>
		  	<div class="nav-hover">Log In</div>
		  <% end %>
			<%= link_to sign_up_path do %>
				<div class="nav-hover">Sign Up</div>
			<% end %>
		<% end %>
		<div class="nav-hover">Help</div>
		<% if logged_in? && !current_user.listings.empty? %>
			<%= link_to listings_path do %>
				<div class="nav-hover"  style="border-left: none;">Host</div>
			<% end %>
		<% else %>
			<divstyle="border-left: none;">
				<span class="host">
					<%= link_to "Become a host", new_listing_path %>
				</span>
			</div>
		<% end %>
	</div>
	<div class="clearfix"></div>
</nav>

